<!DOCTYPE html>
<html>
  <head>
    <title>LimpiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'slide' %>
    <%= stylesheet_link_tag 'styles' %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>
  <body>

      <header>
          <div class="logo">
            <%=link_to image_tag('logo.png', :size=> '166x128'), :root %>

          </div>
            <div class="center-header">
              <h2 class="white"><%= link_to_unless_current 'LimpiApp', :root %></h2>
            </div>

            <div class="header-right">
              <div class="search">
                <p class="navbar-text pull-right white ingresar">
                    <span>
                      <% if user_signed_in? %>
                        Has iniciado sesión como <strong><%= current_user.nombre %> |</strong>
                        <i class="fa fa-wrench white"></i>
                        <%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %> |
                        <i class="fa fa-sign-out white"></i>
                        <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                        <% else %>
                        <i class="fa fa-user white"></i>
                        <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
                        <i class="fa fa-unlock-alt white"></i>
                        <%= link_to "Ingresar", new_user_session_path, :class => 'navbar-link'  %>

                      <% end %>
                      <p></p>
                  </span>
                </p>
                <input type="search">
                <button type="button"> Buscar</button>

              </div>



              <nav>
                <ul class="menu">
                  <li class="white nav"><%= link_to_unless_current 'Inicio', :root %></li>
                  <li class="white nav"><%= link_to_unless_current 'Acerca De', acercade_acercade_path %></li>
                  <li class="white nav"><%= link_to_unless_current 'Eventos', eventos_eventos_path %></li>
                  <li class="white nav"><%= link_to_unless_current 'Contacto', contacto_contacto_path %> </li>
                </ul>
              </nav>

            </div>
      </header>
      <!--Fix right-->
      <div class="right-tag">
        <p><%=link_to_unless_current image_tag('recientes.png'), :back %></p>
        <hr class="divisor-line">
        <p><%=link_to_unless_current image_tag('favoritos.png'), favoritos_favoritos_path %></p>
        <hr class="divisor-line">
        <p><%=link_to_unless_current image_tag('p_cercanos.png'), puntos_cercanos_puntos_cercanos_path %></p>
      </div>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

    <%= yield %>

    <footer>
      <div class="copyright">
          <span class=" white" >Copyright ©  Todos los derechos reservados 2018 • Diseñado y administrado por SCL Developers </span>
      </div>
      <div class="legal">
        <p class="white">
        <%= link_to_unless_current 'Política de Privacidad', politica_politica_path %> •
        <%= link_to_unless_current 'Términos y Condiciones', terminos_terminos_path %>
        </p>
      </div>
    </footer>
  </body>
</html>
